
@{
    ViewBag.Title = "ico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item"><a href="#">Smart Clips</a></li>
                        <li class="breadcrumb-item active">Landing</li>
                    </ol>
                </div>
                <h4 class="page-title">New Coin ICO</h4>
            </div>
        </div>
    </div>
    <!-- end page title end breadcrumb -->
    <div class="row">
        <div class="col-md-12 col-xl-12">
            <div class="card m-b-30">
                <div class="card-body new-user">
                    <h5 class="header-title mb-4 mt-0">ICO Coin List</h5>
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th class="border-top-0">Logo</th>
                                    <th class="border-top-0">Coin name</th>
                                    <th class="border-top-0">ICOscale</th>
                                    <th class="border-top-0">Total</th>
                                    <th class="border-top-0">Currency</th>
                                    <th class="border-top-0">Link</th>
                                    <th class="border-top-0">End Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <img src="~/assets/images/coins/dash.png" alt="" style="width:30px">
                                    </td>
                                    <td>
                                        <a href="javascript:void(0);">Dashcoin</a>
                                    </td>

                                    <td>7,500,421</td>
                                    <td>10,000,000</td>
                                    <td>$ , BTC</td>
                                    <td>
                                        <ul class="list-unstyled list-inline">
                                            <li class="list-inline-item"><a href="#"><i class="fa fa-bitcoin text-primary"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i class="fa fa-medium text-danger"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter text-info"></i></a></li>
                                        </ul>
                                    </td>
                                    <td>
                                        <div data-role="countdown" data-hours="90" style="width:70px;"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="~/assets/images/coins/btc.png" alt="" style="width:30px">
                                    </td>
                                    <td>
                                        <a href="javascript:void(0);">Bitcoin</a>
                                    </td>

                                    <td>8,700,421</td>
                                    <td>12,000,000</td>
                                    <td> BTC</td>
                                    <td>
                                        <ul class="list-unstyled list-inline">
                                            <li class="list-inline-item"><a href="#"><i class="fa fa-bitcoin text-primary"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i class="fa fa-medium text-danger"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter text-info"></i></a></li>
                                        </ul>
                                    </td>
                                    <td>
                                        <div data-role="countdown" data-hours="120" style="width:70px"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="~/assets/images/coins/lite.png" alt="" style="width:30px">
                                    </td>
                                    <td>
                                        <a href="javascript:void(0);">Ripple</a>
                                    </td>

                                    <td>17,900,532</td>
                                    <td>120,000,000</td>
                                    <td>$ , ETH</td>
                                    <td>
                                        <ul class="list-unstyled list-inline">
                                            <li class="list-inline-item"><a href="#"><i class="fa fa-bitcoin text-primary"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i class="fa fa-medium text-danger"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter text-info"></i></a></li>
                                        </ul>
                                    </td>
                                    <td>
                                        <div data-role="countdown" data-hours="200" style="width:70px"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="~/assets/images/coins/eth.png" alt="" style="width:30px">
                                    </td>
                                    <td>
                                        <a href="javascript:void(0);">Ethereum</a>
                                    </td>

                                    <td>99,500,421</td>
                                    <td>100,000,000</td>
                                    <td>ETH , BTC</td>
                                    <td>
                                        <ul class="list-unstyled list-inline">
                                            <li class="list-inline-item"><a href="#"><i class="fa fa-bitcoin text-primary"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i class="fa fa-medium text-danger"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter text-info"></i></a></li>
                                        </ul>
                                    </td>
                                    <td>
                                        <div data-role="countdown" data-hours="300" style="width:70px"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="~/assets/images/coins/dash.png" alt="" style="width:30px">
                                    </td>
                                    <td>
                                        <a href="javascript:void(0);">Dashcoin</a>
                                    </td>

                                    <td>500,421</td>
                                    <td>9,000,000</td>
                                    <td>$ , BTC , ETH</td>
                                    <td>
                                        <ul class="list-unstyled list-inline">
                                            <li class="list-inline-item"><a href="#"><i class="fa fa-bitcoin text-primary"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i class="fa fa-medium text-danger"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter text-info"></i></a></li>
                                        </ul>
                                    </td>
                                    <td>
                                        <div data-role="countdown" data-hours="500" style="width:70px"></div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div><!-- container -->

@section scripts{
    <script src="~/assets/plugins/metro/metro.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
}