
@{
    ViewBag.Title = "setting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item"><a href="#">Smart Clips</a></li>
                        <li class="breadcrumb-item active">Settings</li>
                    </ol>
                </div>
                <h4 class="page-title">Settings</h4>
            </div>
        </div>
    </div>
    <!-- end page title end breadcrumb -->
    <div class="row">
        <div class="col-md-4 col-xl-2">
            <div class="card m-b-30">
                <div class="card-body">
                    <div class=" text-center">
                        <img src="~/assets/images/users/avatar-1.jpg" alt="" class="rounded-circle img-thumbnail w-50">
                        <h4 class="font-16">Steven Meyers</h4>
                        <a href="" class="text-muted font-14">StevenMeyers@gmail.com</a>
                        <ul class="list-unstyled list-inline mb-0 mt-3">
                            <li class="list-inline-item"><a href="#"><i class="ti-facebook text-primary"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="ti-linkedin text-danger"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="ti-twitter-alt text-info"></i></a></li>
                        </ul>
                        <a href="" class="btn btn-primary btn-sm mt-3">Update Profile</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-xl-5">
            <div class="card bg-white m-b-30">
                <div class="card-body">
                    <div class="general-label">
                        <form role="form">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Full Name</label>
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Full Name">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-primary">Save Change</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xl-5">
            <div class="card bg-white m-b-30">
                <div class="card-body">
                    <div class="general-label">
                        <form role="form">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Linked Account</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>PayPal</option>
                                    <option>VISA</option>
                                    <option>ICICI</option>
                                    <option>HDFC</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Collect Currency</label>
                                <select class="form-control" id="exampleFormControlSelect2">
                                    <option>US Dollar</option>
                                    <option>Pounds</option>
                                    <option>Euro</option>
                                    <option>Yen</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Change Wallet Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-primary">Save Change</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xl-4">
            <div class="mini-stat clearfix bg-white">
                <div class="row align-items-center">
                    <div class="col-2">
                        <span class="mini-stat-icon bg-light"><i class="mdi mdi-cellphone-iphone text-warning"></i></span>
                    </div>
                    <div class="col-10 text-left">
                        <h4 class="counter text-dark m-0 pb-1">SMS Auth</h4>
                        <h6>Used for withdrawals and security modifications</h6>
                        <div class="mt-3">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-primary btn-sm active">
                                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Enable
                                </label>

                                <label class="btn btn-primary btn-sm">
                                    <input type="radio" name="options" id="option2" autocomplete="off"> Disable
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xl-4">
            <div class="mini-stat clearfix bg-white">
                <div class="row align-items-center">
                    <div class="col-2">
                        <span class="mini-stat-icon bg-light"><i class="mdi mdi-google-chrome text-warning"></i></span>
                    </div>
                    <div class="col-10 text-left">
                        <h4 class="counter text-dark m-0 pb-1">Google Auth</h4>
                        <h6>Used for withdrawals and security modifications</h6>
                        <div class="mt-3">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-primary btn-sm active">
                                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Enable
                                </label>

                                <label class="btn btn-primary btn-sm">
                                    <input type="radio" name="options" id="option2" autocomplete="off"> Disable
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xl-4">
            <div class="mini-stat clearfix bg-white">
                <div class="row align-items-center">
                    <div class="col-2">
                        <span class="mini-stat-icon bg-light"><i class="mdi mdi-security text-warning"></i></span>
                    </div>
                    <div class="col-10 text-left">
                        <h4 class="counter text-dark m-0 pb-1">API</h4>
                        <h6>Create API private key can get you access to market.</h6>
                        <div class="mt-3">
                            <a href="#" class="btn btn-primary btn-sm">API Setting</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div><!-- container -->

@section scripts{
    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
}

